@{
    /**/

    ViewBag.Title = "Contact";
}

<div><h2>@Html.ActionLink("Crear Empleado", "Create", "Empleados")</h2></div>
<div><h2>@Html.ActionLink("Agregar un departamento", "Create", "Departamentos")</h2></div>
<div><h2>@Html.ActionLink("Agregar Cargos", "Create", "Cargos")</h2></div>

